body{
    background-color: rgb(0, 123, 255) !important;
}

.container{
    min-height: 100vh;
    background-color: rgb(0, 123, 255) !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-img-top{
    height: 35vh;
    object-fit:contain; 
	width: 100%; 
}

.quiz-card{
    width: 30rem;
}

.question-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.4);
    padding-top: 15px;
}

.quiz-answer:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.bg-success, .bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.text-center{
    text-align: center;
}

.quizEnd{
    font-size: x-large;
}

.button-row{
    display: flex;
    justify-content: center;
    align-items: center;
}